# Configuration for building U-Boot to be flashed
# to the hyp partition on sm8250 devices

CONFIG_HYPERVISOR=y

# Address of xbl_core.elf (which we're replacing)
CONFIG_TEXT_BASE=0x80040000
CONFIG_REMAKE_ELF=y

CONFIG_DEFAULT_DEVICE_TREE="qcom/qrb5165-rb5"
#CONFIG_DEFAULT_ENV_FILE="board/qualcomm/hyp-sm8250.env"
